@{
    ViewBag.Title = "Home Page";
}

@section scripts
{
    <script src="Scripts/jquery.signalR-1.0.1.min.js" type="text/javascript"></script>

    <script type="text/javascript">
        $(function() {
            var connection = $.connection('/echo');

            connection.received(function(data) {
                $('#messages').append('<li>' + data + '</li>');
            });

            connection.start().done(function() {
                $("#broadcast").click(function() {
                    connection.send($('#msg').val());
                });
            });

        });
    </script>
}

<h2>Appointments</h2>

<input type="text" id="msg" />
<input type="button" id="broadcast" value="broadcast" />

<ul id="messages">
</ul>
